.preview-block
 h2.preview-block__heading Рекомендации и&nbsp;исходники
 h6.preview-block__description Привет! На этом сайте ты найдешь всю необходимую информацию, чтобы создать новый макет рекомендациями или скачать существующий. Хорошего дня!