#guides-block.grid-bg {
  background-image: url("/image/grid-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.guides-block {
  width: 52.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}

.guides-item {
  width: 40%;
  &__logo {
    margin-bottom: 93px;
  }
  &__grid-block {
    background: url("/image/area-bg-1.png") no-repeat;
    background-size: 100%;
    width: 353px;
    height: 75px;
    opacity: 0;
    margin-left: -60px;
    margin-bottom: 26px;
    &.show {
      opacity: 1;
    }
  }

  &__area-block {
    background: url("/image/area-bg-2.png") no-repeat;
    background-size: 100%;
    width: 290px;
    height: 93px;
    opacity: 0;
    margin: -23px 0 10px -57px;
    &.show {
      opacity: 1;
    }
  }
  &__heading {
    margin-bottom: 28px;
    position: relative;
    span {
      background: url("/image/icons/tumbler-off.svg") no-repeat;
      width: 37px;
      height: 19px;
      background-size: 100%;
      cursor: pointer;
      position: absolute;
      right: -12px;
      top: 23px;
      &.active {
        background: url("/image/icons/tumbler-on.svg") no-repeat;
      }

    }
  }
  &__dscr {

  }
  &:first-of-type {
    .guides-item__heading {
      &:before {
        content: 'Кликни сюда';
        width: 80px;
        height: 12px;
        position: absolute;
        right: 60px;
        top: -31px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.3px;
      }
      &:after {
        content: '';
        width: 38px;
        height: 34px;
        background: url("/image/icons/rounded_rectangle.svg") no-repeat;
        background-size: 100%;
        position: absolute;
        right: 0;
        top: -24px;
      }
    }
  }
}