#preview-block {
    margin-top: 692px;
}
.preview-block {
  width: 772px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 370px;
  &__heading {
    line-height: 47px;
    width: 50%;
    text-align: left;
    margin: auto;
  }
  &__description {
    width: 50%;
    text-align: left;
    margin: auto;
  }
}