#rubrics-block {
  background: url("../image/bg/dg_2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
}

.rubrics-block {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 777px;
  margin: auto;
}

.rubrics-item {
  background: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  margin: 0 20px;
  width: 250px;
  height: 330px;
  position: relative;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--n-litera {
    .rubrics-item__image {
      top: -25px;

      img {
        width: 143px;
        height: 165px;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;

        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }

  &--cycle {
    .rubrics-item__image {
      top: -36px;

      &:before {
        content: '';
        background: url("../image/icons/cursor-picker-icon.svg") no-repeat;
        position: absolute;
        width: 13px;
        height: 13px;
        background-size: 100%;
        top: 40px;
        left: 60px;
      }

      &:hover {
        &:before {
          display: none;
        }
      }

      img {
        cursor: url("../image/icons/cursor-picker-icon.svg"), pointer;
      }
    }
  }

  &--um-litera {
    .rubrics-item__image {
      top: -14px;

      &:after {
        content: '';
        background: url("../image/icons/line-icon.png") no-repeat;
        background-size: 100%;
        width: 2px;
        height: 146px;
        position: absolute;
        bottom: -40px;
        right: 30px;
      }

      &:hover {
        &:after {
          -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
        }
      }
    }
  }

  &--template {
    .rubrics-item__image {
      top: -13px;

      &:before {
        content: '';
        background: url("../image/icons/folder-front.png") no-repeat;
        background-size: 100%;
        width: 198px;
        height: 131px;
        position: absolute;
        bottom: -2px;
        z-index: 9;
      }

      &:after {
        content: '';
        background: url("../image/icons/folder-flag.png") no-repeat;
        background-size: 100%;
        width: 49px;
        height: 116px;
        position: absolute;
        top: -14px;
        right: 50px;
      }

      &:hover {
        &:after {
          -webkit-animation: shake .7s linear alternate infinite;
          animation: shake .7s linear alternate infinite;
        }
      }
    }
  }

  &__info {
    position: absolute;
    bottom: 54px;
    padding: 0 27px;
  }

  &__image {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
  }

  &__heading {
    a {
      position: relative;
      color: $black;
      font-size: 25px;
      font-weight: 400;
      display: block;
      margin-bottom: 5px;
      &:after {
        content: '';
        position: absolute;
        background: url("../image/icons/arrow-link.svg") no-repeat;
        background-size: 100%;
        width: 17px;
        height: 12px;
        right: 0;
        top: calc(50% - 6px);
      }
    }
  }

  &__dscr {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}

@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateX(-30px);
  }
}

@keyframes shake {
  100% {
    transform: translateX(-30px);
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0
  }
}

@keyframes blink {
  100% {
    opacity: 0
  }
}